
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="http://</IP>:5000/notas_info6" method="post">
      <p>
        <input type="email" name="size" id="size_1" />
        <label for="size_1">email</label>
      </p>
      <p>
        <input type="number" name="size" id="size_2" />
        <label for="size_2">nota_sugerida_bimestre1</label>
      </p>
      <INPUT TYPE="submit" VALUE="Envia mensagem" >
    </form>
  </body>
</html>
